body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    max-width: 800px; 
    background-image: url('images/back.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

section {
    text-align: center;
    padding: 20px;
    border: 2px solid #000000; 
    border-radius: 10px; 
    background-color: rgba(227, 238, 255, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /
}

button {
    background-color: #72a7fc;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(10, 137, 255);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(197, 225, 255, 0.8);
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-faded-small {
    font-size: 12px; 
    color: rgba(0, 0, 0, 0.5);
}

